extends layout

block content
  h1= title
  div(class="container-fluid")
    div(class="row") 
  
  - 
   class technology{
      constructor(brand, price, category){
        this.brand = brand
        this.price = price
        this.category = category
      }
    }
    const items = results
  each value in items
    div(class="col-sm-2") Brand: #{value.brand}, Price: $#{value.price}, Category: #{value.category}

